*~
bin
qt_build_path.pri

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.so.*

# Compiled Static libraries
*.lai
*.la
*.a

# for windows
*.dll
*.exe

#qt creator
qrc_*.cpp
moc_*.cpp
ui_*.h
Makefile
Makefile*.*
*.pro.user
*.pro.user.*
object_script*

#tex
*.dvi
*.bak
*.aux
*.pdf
*.gz
*.log
*.out
*latexmk
*.fls
*.toc
*.nav
*.snm
*.bbl
*.blg
